@page "/runsheet"
@attribute [Authorize(Roles = "Admin, Manager, User")]

<div class="container-fluid">

    <div class="row">
        <div class="col-md-5">
            @if (active == null)
            {
                <div>
                    <div class="fa fa-clock fa-spin"></div>
                </div>
            }
            else
            {
                <h3><strong>Run-Sheet</strong></h3>
                <EditForm Model="@runsheetViewModel" OnValidSubmit="HandleSuccess">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="my-4">
                        <span class="oi oi-dial text-warning"></span> Start Odometer
                        <InputNumber class="form-control" @bind-Value="@runsheetViewModel.StartOdometer" />
                    </div>
                    <div class="my-4">
                        <span class="oi oi-dial text-warning"></span> End Odometer
                        <InputNumber class="form-control" @bind-Value="@runsheetViewModel.EndOdometer" />
                    </div>
                    <div class="my-4">
                        <span class="oi oi-person text-warning"></span> Driver
                        <InputText class="form-control" @bind-Value="@runsheetViewModel.Driver" />
                    </div>
                    <div class="my-4">
                        <span class="oi oi-cart text-warning"></span> Vehicle Details
                        <InputText class="form-control" @bind-Value="@runsheetViewModel.VehicleDetails" />
                    </div>
                    <br />
                    @if (!isActiveTrip)
                    {
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Create New Trip</button>
                    }
                    else
                    {
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Edit Trip</button>
                    }
                </EditForm>
                <hr />
                <button class="btn btn-success btn-lg btn-block" @onclick="HandleFinalize">Finalize Runsheet</button>
                <br />
            }
        </div>
        <div class="col-md-7">
            <h3><strong>Today's Trips</strong></h3>
            <table class="table table-responsive-md table-dark">
                <thead>
                    <tr>
                        <th><span class="oi oi-timer text-warning"></span> Start</th>
                        <th><span class="oi oi-timer text-warning"></span> End</th>
                        <th><span class="oi oi-person text-warning"></span> Customer</th>
                        <th><span class="oi oi-script text-warning"></span> Order#</th>
                        <th><span class="oi oi-wrench text-warning"></span> Received By</th>
                    </tr>
                </thead>
                <tbody>
                    <VehicleRunsheetMBAProj.Components.TripTableHighlightComponent/>
                </tbody>
            </table>
        </div>
    </div>
</div>
